[submodule "sdks/utils/sdl2"]
	path = sdks/utils/sdl2
	url = git://github.com/sdl2-vapi/sdl2-vapi.git
[submodule "sdks/utils/tmx/loader"]
	path = sdks/utils/tmx/loader
	url = https://github.com/baylej/tmx.git
