[Desktop Entry]
Version=0.0
Type=Application
Name=Avalanche
Comment=A Free and Open Source game IDE
Exec=/usr/bin/avalanche
Icon=/usr/lib/avalanche/icons/avalanche.png
Categories=Application;Development;
